* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainTitle {
    text-align: center;
}

#buttonBox {
    display: flex;
    justify-content: center;
}

#sketchBox {
    display: flex;
    margin: 0 auto;
    width: 40vw;
    aspect-ratio: 1/1;
    border: solid 1px black;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    flex: 1;
    border: solid 0.5px grey;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}